<!DOCTYPE html>

<html>

    <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>

    <body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CompanyKeeper</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-right nav">
        
        </ul>
      </div>
    </div>
  </nav>