<% include ./partials/header %>

<h1>index page here </h1>

<a href="register" class="btn btn-success" >register here </a>
<a href="/company" class="btn btn-primary"> Proceed to see companies</a>
<a href="/logout" class="btn btn-danger">logout</a> 

<% include ./partials/footer %>

